.center-box {
    height: 80%;
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    border: 5px solid black;
    border-radius: 10px;
}

.main-container {
  height: 600px;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px;
}

#game-display, #settings-display, #stats-display {
  display: none;
}

#display {
  font-size: 100px;
  margin: 15px 0;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  margin: 10px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
}

#score-board {
  margin: 10px 0;
  font-size: 17px;
}

#title {
  font-size: 40px;
}

.stat {
  margin-top: 1px;
  margin-bottom: 1px;
  padding: 1px;
}

#correct {
  color: #459735;
}

#incorrect {
  color: #D15748;
}

#correctness {
  padding: 5px;
}